In [2]:
import csv
import pandas as pd

In [7]:
raw_interest = pd.read_csv('Audience Interest group report - 2016 Jan-Sep.csv')
#Filter out unknowns
raw_interest = raw_interest[raw_interest['Country']!='(other)']
print raw_interest.head()

     Country  Gender    Age  \
1  Hong Kong  female  25-34
2  Hong Kong  female  25-34
3  Hong Kong  female  25-34
4  Hong Kong  female  25-34
5  Hong Kong  female  35-44

                           Affinity Category (reach)  \
1                                       Travel Buffs
2  News Junkies/Entertainment & Celebrity News Ju...
3                                       Movie Lovers
4                                            Foodies
5                                       Travel Buffs

                In-Market Segment  Sessions  Bounces  Pageviews  \
1  Travel/Hotels & Accommodations    104360    48636     407881
2  Travel/Hotels & Accommodations     89154    41615     326081
3  Travel/Hotels & Accommodations     86536    40369     310130
4  Travel/Hotels & Accommodations     84417    39171     324081
5  Travel/Hotels & Accommodations     78516    36666     317720

   Unique Pageviews  Users  Session Duration  Transactions  Quantity  \
1            221194  67476          13756246           279       329
2            186916  57656          11715697           239       273
3            181565  56078          11434241           218       249
4            179231  54517          10835842           198       229
5            166092  48338           9586262           193       232

     Revenue
1  605265.14
2  510948.02
3  466040.17
4  397822.14
5  402657.58

In [16]:
print raw_interest['Affinity Category (reach)'].dtype

object

In [31]:
# Process Affinity, In-market
raw_interest['Affinity_list'] = raw_interest['Affinity Category (reach)'].str.split('/')
raw_interest['Affinity_level'] = raw_interest['Affinity_list'].apply(len)
raw_interest['InMarket_list'] = raw_interest['In-Market Segment'].str.split('/')
raw_interest['InMarket_level'] = raw_interest['InMarket_list'].apply(len)

# remove original columns
del raw_interest['Affinity Category (reach)']
del raw_interest['In-Market Segment']
print raw_interest.head()

     Country  Gender    Age  Sessions  Bounces  Pageviews  Unique Pageviews  \
1  Hong Kong  female  25-34    104360    48636     407881            221194
2  Hong Kong  female  25-34     89154    41615     326081            186916
3  Hong Kong  female  25-34     86536    40369     310130            181565
4  Hong Kong  female  25-34     84417    39171     324081            179231
5  Hong Kong  female  35-44     78516    36666     317720            166092

   Users  Session Duration  Transactions  Quantity    Revenue  \
1  67476          13756246           279       329  605265.14
2  57656          11715697           239       273  510948.02
3  56078          11434241           218       249  466040.17
4  54517          10835842           198       229  397822.14
5  48338           9586262           193       232  402657.58

                                       Affinity_list  \
1                                     [Travel Buffs]
2  [News Junkies, Entertainment & Celebrity News ...
3                                     [Movie Lovers]
4                                          [Foodies]
5                                     [Travel Buffs]

                       InMarket_list  Affinity_level  InMarket_level
1  [Travel, Hotels & Accommodations]               1               2
2  [Travel, Hotels & Accommodations]               2               2
3  [Travel, Hotels & Accommodations]               1               2
4  [Travel, Hotels & Accommodations]               1               2
5  [Travel, Hotels & Accommodations]               1               2

In [60]:
# Select a market of interest
market = 'Hong Kong'
interest_mkt = raw_interest[raw_interest['Country']==market]
print interest_mkt.head(10)

      Country  Gender    Age  Sessions  Bounces  Pageviews  Unique Pageviews  \
1   Hong Kong  female  25-34    104360    48636     407881            221194
2   Hong Kong  female  25-34     89154    41615     326081            186916
3   Hong Kong  female  25-34     86536    40369     310130            181565
4   Hong Kong  female  25-34     84417    39171     324081            179231
5   Hong Kong  female  35-44     78516    36666     317720            166092
6   Hong Kong  female  25-34     76307    35419     295551            162014
7   Hong Kong  female  25-34     73944    34528     276616            157325
8   Hong Kong  female  25-34     72907    34382     273984            152359
9   Hong Kong  female  35-44     72364    33792     277326            151791
10  Hong Kong  female  35-44     66785    31042     252960            140128

    Users  Session Duration  Transactions  Quantity    Revenue  \
1   67476          13756246           279       329  605265.14
2   57656          11715697           239       273  510948.02
3   56078          11434241           218       249  466040.17
4   54517          10835842           198       229  397822.14
5   48338           9586262           193       232  402657.58
6   49478           9780456           160       191  331458.54
7   48007           9674831           165       195  346794.08
8   47485           9333635           152       179  314359.84
9   44206           8620755           168       205  363577.28
10  40725           8060834           168       204  346486.28

                                        Affinity_list  \
1                                      [Travel Buffs]
2   [News Junkies, Entertainment & Celebrity News ...
3                                      [Movie Lovers]
4                                           [Foodies]
5                                      [Travel Buffs]
6               [Cooking Enthusiasts, Aspiring Chefs]
7                             [Shoppers, Shopaholics]
8                                     [Beauty Mavens]
9   [News Junkies, Entertainment & Celebrity News ...
10                                     [Movie Lovers]

                        InMarket_list  Affinity_level  InMarket_level
1   [Travel, Hotels & Accommodations]               1               2
2   [Travel, Hotels & Accommodations]               2               2
3   [Travel, Hotels & Accommodations]               1               2
4   [Travel, Hotels & Accommodations]               1               2
5   [Travel, Hotels & Accommodations]               1               2
6   [Travel, Hotels & Accommodations]               2               2
7   [Travel, Hotels & Accommodations]               2               2
8   [Travel, Hotels & Accommodations]               1               2
9   [Travel, Hotels & Accommodations]               2               2
10  [Travel, Hotels & Accommodations]               1               2

In [61]:
# Use only the top level
interest_mkt = interest_mkt[interest_mkt['Affinity_level']==1]
interest_mkt = interest_mkt[interest_mkt['InMarket_level']==1]
# Convert list to str
interest_mkt['Affinity_list']=interest_mkt['Affinity_list'].astype(str).str.replace('\[|\]|\'', '')
interest_mkt['InMarket_list']=interest_mkt['InMarket_list'].astype(str).str.replace('\[|\]|\'', '')

interest_mkt.reset_index(drop=True,inplace=True)

print interest_mkt.head()

     Country  Gender    Age  Sessions  Bounces  Pageviews  Unique Pageviews  \
0  Hong Kong  female  25-34     53803    25652     205159            112443
1  Hong Kong  female  25-34     51828    24392     201157            109052
2  Hong Kong  female  25-34     45490    21519     160257             94205
3  Hong Kong  female  25-34     43852    20647     166498             91994
4  Hong Kong  female  35-44     37530    17662     151750             78990

   Users  Session Duration  Transactions  Quantity    Revenue  Affinity_list  \
0  35370           6771086           114       127  231256.30  Beauty Mavens
1  34276           6606338           110       123  221057.18   Travel Buffs
2  30232           5759252            97       107  205033.79   Movie Lovers
3  29153           5283978            81        87  156674.16        Foodies
4  23770           4402922            69        81  139857.45  Beauty Mavens

                InMarket_list  Affinity_level  InMarket_level
0  Beauty Products & Services               1               1
1  Beauty Products & Services               1               1
2  Beauty Products & Services               1               1
3  Beauty Products & Services               1               1
4  Beauty Products & Services               1               1

In [63]:
# Q1: Which In-market segment has highest conversion rate (in booking per user)?
grp_inmarket = interest_mkt.groupby(['InMarket_list'])
print grp_inmarket.head()

        Country  Gender    Age  Sessions  Bounces  Pageviews  \
0     Hong Kong  female  25-34     53803    25652     205159
1     Hong Kong  female  25-34     51828    24392     201157
2     Hong Kong  female  25-34     45490    21519     160257
3     Hong Kong  female  25-34     43852    20647     166498
4     Hong Kong  female  35-44     37530    17662     151750
12    Hong Kong  female  25-34     31652    14588     123026
17    Hong Kong  female  25-34     27638    12793      97238
18    Hong Kong  female  25-34     26859    12355     103053
19    Hong Kong  female  25-34     26611    12469      98625
28    Hong Kong  female  35-44     22103    10056      88561
38    Hong Kong  female  25-34     19779     9122      74097
53    Hong Kong  female  25-34     17374     8202      57625
55    Hong Kong  female  25-34     16030     7380      59155
63    Hong Kong  female  25-34     14828     7101      56828
68    Hong Kong  female  25-34     14535     6792      51971
71    Hong Kong  female  25-34     14329     6777      53192
83    Hong Kong  female  25-34     13829     6678      46923
102   Hong Kong  female  25-34     12421     5897      46363
111   Hong Kong  female  25-34     12016     5876      46336
113   Hong Kong  female  25-34     11854     5789      42665
419   Hong Kong  female  25-34      4820     2233      21185
482   Hong Kong  female  25-34      4232     1991      16943
498   Hong Kong  female  25-34      4084     1876      17879
556   Hong Kong  female  25-34      3483     1680      15648
586   Hong Kong  female  35-44      3286     1510      13565
619   Hong Kong  female  25-34      3057     1391      10998
688   Hong Kong  female  25-34      2628     1190       9025
704   Hong Kong  female  25-34      2468     1124       8719
755   Hong Kong  female  25-34      2216     1036       7345
758   Hong Kong    male  25-34      2214     1115       7375
769   Hong Kong  female  25-34      2166     1010       8427
775   Hong Kong    male  25-34      2124     1128       5829
792   Hong Kong  female  25-34      2056      965       7882
795   Hong Kong    male  25-34      2054     1126       5488
806   Hong Kong    male  25-34      2008     1114       5248
2421  Hong Kong    male  35-44        25       11         87
2422  Hong Kong    male  35-44        25       11         87
2432  Hong Kong    male  35-44        23        9         85
2437  Hong Kong    male  35-44        22        8         84
2446  Hong Kong    male  35-44        20        8         79

      Unique Pageviews  Users  Session Duration  Transactions  Quantity  \
0               112443  35370           6771086           114       127
1               109052  34276           6606338           110       123
2                94205  30232           5759252            97       107
3                91994  29153           5283978            81        87
4                78990  23770           4402922            69        81
12               67643  21596           4029044            68        75
17               58442  18876           3478080            61        65
18               57350  18350           3356526            52        57
19               56035  18163           3277967            52        55
28               47710  14346           2800077            57        64
38               42502  13412           2798640            66        70
53               36638  11862           2404350            50        54
55               34406  10899           2160459            46        51
63               30740  10166           1915469            32        36
68               30778   9877           2019839            41        46
71               30621   9709           1888581            35        37
83               28316   9449           1742092            28        29
102              25639   8394           1537909            17        18
111              24573   8230           1516749            21        25
113              24259   8087           1495659            25        27
419              10714   3353            691101            11        12
482               9283   2935            599607            11        12
498               9088   2893            528112            11        12
556               7655   2460            464510             7         8
586               7100   2244            405153             8         9
619               6575   2145            431199             6         6
688               5629   1838            355730             7         7
704               5283   1731            330016             3         3
755               4648   1570            297483             3         3
758               4474   1603            258821            14        16
769               4748   1498            281347             6         7
775               4048   1551            222782             8        10
792               4454   1433            251825             5         6
795               3859   1485            205974             6         7
806               3661   1446            193075             6         7
2421                65     13              3694             0         0
2422                65     13              3694             0         0
2432                63     11              3694             0         0
2437                62     10              3694             0         0
2446                59     10              3661             0         0

        Revenue             Affinity_list               InMarket_list  \
0     231256.30             Beauty Mavens  Beauty Products & Services
1     221057.18              Travel Buffs  Beauty Products & Services
2     205033.79              Movie Lovers  Beauty Products & Services
3     156674.16                   Foodies  Beauty Products & Services
4     139857.45             Beauty Mavens  Beauty Products & Services
12    130190.33              Travel Buffs       Apparel & Accessories
17    110831.46              Movie Lovers       Apparel & Accessories
18     90572.02                   Foodies       Apparel & Accessories
19     91913.62             Beauty Mavens       Apparel & Accessories
28    111603.56              Travel Buffs       Apparel & Accessories
38    140381.76              Travel Buffs                  Employment
53    104177.92              Movie Lovers                  Employment
55     89776.01                   Foodies                  Employment
63     64817.34              Travel Buffs             Dating Services
68     83260.81             Beauty Mavens                  Employment
71     71923.76  Social Media Enthusiasts                  Employment
83     52032.33              Movie Lovers             Dating Services
102    34436.18                   Foodies             Dating Services
111    44971.79  Social Media Enthusiasts             Dating Services
113    48407.76             Beauty Mavens             Dating Services
419    19147.05              Travel Buffs           Gifts & Occasions
482    18185.42              Movie Lovers           Gifts & Occasions
498    19576.92                   Foodies           Gifts & Occasions
556    11598.10             Beauty Mavens           Gifts & Occasions
586    19105.64              Travel Buffs           Gifts & Occasions
619    11107.62              Travel Buffs           Business Services
688    13232.82              Movie Lovers           Business Services
704     3812.02                   Foodies           Business Services
755     4916.02              Technophiles           Business Services
758    24128.84              Travel Buffs           Business Services
769    14840.29              Travel Buffs            Sports & Fitness
775    20683.56              Travel Buffs            Sports & Fitness
792    11105.09    Health & Fitness Buffs            Sports & Fitness
795    13560.46              Movie Lovers            Sports & Fitness
806    15365.50    Health & Fitness Buffs            Sports & Fitness
2421       0.00              Technophiles        Consumer Electronics
2422       0.00              Travel Buffs        Consumer Electronics
2432       0.00  Social Media Enthusiasts        Consumer Electronics
2437       0.00               Shutterbugs        Consumer Electronics
2446       0.00            Avid Investors        Consumer Electronics

      Affinity_level  InMarket_level
0                  1               1
1                  1               1
2                  1               1
3                  1               1
4                  1               1
12                 1               1
17                 1               1
18                 1               1
19                 1               1
28                 1               1
38                 1               1
53                 1               1
55                 1               1
63                 1               1
68                 1               1
71                 1               1
83                 1               1
102                1               1
111                1               1
113                1               1
419                1               1
482                1               1
498                1               1
556                1               1
586                1               1
619                1               1
688                1               1
704                1               1
755                1               1
758                1               1
769                1               1
775                1               1
792                1               1
795                1               1
806                1               1
2421               1               1
2422               1               1
2432               1               1
2437               1               1
2446               1               1